@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* -------- TODO -------- */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    font-family: "Space Grotesk";
    background: #8EED00;
    overflow: hidden;
}

/* -------- Panel izquierdo -------- */
.panel-izquierdo {
    width: 10%;
    background-color: #231E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    z-index: 2;
    border-right: 1px solid #fff;
    position: relative;
}

.panel-izquierdo .icono {
    width: 3rem;
    height: 3rem;
    margin: 1rem 1rem 1rem 1rem;
    cursor: pointer;
}

.panel-izquierdo .icono:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

/* Globito */
.panel-izquierdo a {
    position: relative;
}

.panel-izquierdo a::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: bold;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    z-index: 10;
}

.panel-izquierdo a:hover::after {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
}

.panel-izquierdo span {
    display: none;
}

.menu-hamburguesa {
    display: none;
}

/* -------- Contenido -------- */
.contenido {
    flex-grow: 1;
    padding: 1.25rem;
    overflow-y: auto;
    text-align: justify;
    margin: 2rem 10rem 0 10rem;
    overflow: hidden;
}

.contenido h1 {
    color: #000000;
    font-size: 2rem;
}

.contenido p {
    color: #000000;
    line-height: 1.6;
    font-size: 1rem;
    margin-top: 1rem;
    opacity: 0.7;
}

.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 10rem;
    height: 3.5rem;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border: 2px solid #000000;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 0 #000000;
    transition: all 0.2s ease-in-out;
}

.boton:hover {
    transform: translate(0px, -2px);
    box-shadow: 0 8px 0 #000000;
}

.boton:active {
    transform: translate(0px, 1px);
    box-shadow: 0 2px 0 #000000;
}

.icono-boton {
    width: 1.5rem;
    height: 1.5rem;
}

/* -------- Placas institucionales -------- */
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #231E1E;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #fff;
}

.footer-placas {
    margin: 0.5rem 0 0.5rem 0;
    width: 25rem;
    height: 2.5rem;
    object-fit: contain;
    z-index: 1;
}

/* ---------------------------------- Media Queries ---------------------------------- */
@media (max-width: 768px) {

    html,
    body {
        background-color: #000000;
        color: #00FF00;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .panel-izquierdo {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #231E1E;
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
        z-index: 100;
        overflow: hidden;
        transition: left 0.3s ease-in-out;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    .panel-izquierdo a {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 1rem;
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: bold;
        color: #8EED00;
        padding-top: 0.8rem;
        padding-left: 0.4rem;
        transition: background-color 0.2s ease-in-out;
    }

    .panel-izquierdo a::after {
        display: none;
    }

    .panel-izquierdo .icono {
        width: 4rem;
        height: 4rem;
    }

    .panel-izquierdo span {
        display: flex;
    }

    .contenido {
        flex-grow: 1;
        padding: 1.25rem;
        text-align: justify;
        margin: 1.5rem 2rem 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .contenido h1 {
        font-size: 1.8rem;
        color: #8EED00;
    }

    .contenido p {
        font-size: 1.2rem;
        line-height: 1.6;
        color: #8EED00;
        margin-top: 2rem;
        opacity: 1;
    }

    .boton {
        width: 100%;
        height: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .footer {
        background-color: #000000;
        color: #000000;
        text-align: center;
        padding: 10px 0;
        position: relative;
    }

    /* Menú hamburguesa */
    .menu-hamburguesa {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        display: flex;
        position: relative;
        top: 1rem;
        left: 1rem;
        z-index: 101;
        cursor: pointer;
        width: 30px;
        height: 30px;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-hamburguesa img {
        display: block;
        width: 100%;
        transition: transform 0.3s, background-color 0.3s;
    }

    .menu-abierto .panel-izquierdo {
        left: 0;
    }

    .menu-hamburguesa.menu-fijo {
        position: fixed;
        top: 1rem;
        left: 1rem;
        z-index: 101;
    }
}

/* -------- Móvil volteado horizontalemente --------*/
@media (orientation: landscape) {

    html,
    body {
        background-color: #000000;
        color: #00FF00;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .panel-izquierdo {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #231E1E;
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
        z-index: 100;
        overflow-y: auto;
        transition: left 0.3s ease-in-out;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    .panel-izquierdo a {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 1rem;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: bold;
        color: #8EED00;
        padding-top: 0.8rem;
        padding-left: 0.2rem;
        transition: background-color 0.2s ease-in-out;
    }

    .panel-izquierdo a::after {
        display: none;
    }

    .panel-izquierdo .icono {
        width: 3rem;
        height: 3rem;
        margin-left: 5rem;
    }

    .panel-izquierdo span {
        display: flex;
    }

    .contenido {
        flex-grow: 1;
        padding: 1.25rem;
        text-align: justify;
        margin: 1.5rem 2rem 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .contenido h1 {
        font-size: 1.8rem;
        color: #8EED00;
    }

    .contenido p {
        font-size: 1.2rem;
        line-height: 1.6;
        color: #8EED00;
        margin-top: 2rem;
        opacity: 1;
    }

    .boton {
        width: 100%;
        height: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .footer {
        background-color: #000000;
        color: #000000;
        text-align: center;
        padding: 10px 0;
        position: relative;
    }

    /* Menú hamburguesa */
    .menu-hamburguesa {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        display: flex;
        position: relative;
        top: 1rem;
        left: 1rem;
        z-index: 101;
        cursor: pointer;
        width: 30px;
        height: 30px;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-hamburguesa img {
        display: block;
        width: 100%;
        transition: transform 0.3s, background-color 0.3s;
    }

    .menu-abierto .panel-izquierdo {
        left: 0;
    }

    .menu-hamburguesa.menu-fijo {
        position: fixed;
    }
}